.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-left: 100px;

    @media (max-width: $mobile) {
        margin-left: 20px;
        width: 150px;
      }
}